$primary-color: #FEF1FB;
$secondary-color:#594F51;
$tl: 0.6s; // transition length
@font-face {
    font-family: "Century Gothic";
    src: url("../font/Century Gothic.ttf");
}

@font-face {
    font-family: "berkley";
    src: url("../font/ARBERKLEY.ttf");
}

body {
    font-family: Century Gothic;
    color: $secondary-color;
}

.pad-left-0 {
    padding-left: 0px;
}

.pad-top-60 {
    padding-top: 60px;
}

.pad-top-30 {
    padding-top: 30px;
}

.pad-bottom-30 {
    padding-bottom: 30px;
}

.pad-top-20 {
    padding-top: 20px;
}

@media (max-width: 991px) {
    .pad-top-sm-60 {
        padding-top: 60px;
    }
    .pad-top-sm-30 {
        padding-top: 30px;
    }
}
@media (max-width: 767px) {
    .pad-bottom-xs-60 {
        padding-bottom: 60px;
    }
}

#page-header {
    height: 460px;
    background-image: url(../image/img1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
    }
    
    &.contact {
        background-image: url(../image/img27.jpg);
    }
    &.kitchen {
        background-image: url(../image/img26.jpg);
    }
    &.legal{
        background-image: url(../image/img22.jpg);
    }
    &.dinning{
        background-image: url(../image/img8.jpg);
    }
    &.post{
        background-image: url(../image/img28.jpg);
    }
    
    /*.container {
    width: 600px;
}*/
    .navbar-default {
        background-color: $primary-color;
        border-color: $primary-color;
        font-size: 16px;
        
    }
    .nav>li>a>img {
        /* max-width: none; */
        height: 90px;
        width: 90px;
    }
    .navbar .navbar-collapse {
        text-align: center;
        padding-top: 7px;
        padding-bottom: 25px;
    }
    @media (max-width: 991px) {
        .navbar-default .navbar-nav>li>a {
            font-size: 13px;
        }
    }
    @media (max-width: 767px) {
        .navbar-brand {
            img {
                height: 40px;
                width: 40px;
            }
        }
        .navbar-default .navbar-brand,
        .navbar-collapse {
            padding-top: 7px;
            border: none;
        }
    }
    
    
    /*testing css*/
  a.hover,  a.active .triangle {
 content: '';
    position: absolute;
    top: -6px; 
    left: calc(40% - 1.0px);
        content: " ";
         
   border-top: 13px solid #fc7790;
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
       
        
  
  
    }
    a.hover,a.active .t1 {
 content: '';
    position: absolute;
    top: -15px;
    left: calc(50% - 12px);
    content: " ";
    border-top: 11px solid #FEF1FB;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
       
        
  
  
    }
   
//testing css finish
  
    
}

input {
	outline: none;
}
input[type=text] {
	
	-webkit-box-sizing: content-box;
	
}

input[type=text] {
	background: #FEF1FB url(http://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 7px center;
	border: solid 1px $primary-color;
	padding: 9px 10px 9px 32px;
	width: 70px;
    /*border-radius: 25px;*/
	-webkit-border-radius: 10em;
	-moz-border-radius: 10em;
	border-radius: 10em;
	
	
}
input[type=text]:focus {
	width: 100px;
	background-color: #fff;
}
.logo-image {
    img {
        height: 85px;
        width: 85px;
    }
}

.main-nav {
    /*padding-top: 30px;
        padding-bottom: 30px;*/
}



.page-title {
    background-color: #4E4E4E;
    margin-top: 237px;
    padding: 15px 0px;
    opacity: 0.85;
    filter: alpha(opacity=50);
    color: white;
    font-family: berkley;
    font-size: 38px;
    text-align: center;
    .form-control {
        border: 1px solid white;
    }
   
    .btn-default {
        background-color: #fff;
        border-color: white;
    }
    h6{
       font-size: 21px;
            margin: 0px;
    }
}

.dinning,.post{
    #second-title{
        padding: 4px 0px;
    }
}

@media (max-width: 991px) {
    #page-header {
         height: 300px;
    width: 100%;
    }
}

@media (max-width: 767px) {
    #page-header {
        height: 200px;
        width: 100%;
    }
}


/*------ footer CSS ------*/

.line {
   
    margin-bottom: 60px;
    border-color: $secondary-color;
    opacity: 0.2;
}

.footer {
    text-align: center;
    font-family: "Century Gothic";
    div {
        margin-bottom: 30px;
    }
    .social-icons {
        img {
            height: 30px;
            width: 30px;
            margin: 0px 10px;
        }
    }
    .menu-icons {
        a {
            text-decoration: none;
            margin: 0px 10px;
            color: $secondary-color;
            font-size: 14px;
        }
    }
    .copyright {
        h6 {
            font-size: 10px;
        }
    }
}


/* Main-Container CSS*/

.main-container {
    padding: 60px 0px;
    h1 {
        font-size: 20px;
        font-weight: bold;
    }
    
    .latest-blog {
        padding-top: 30px;
    }
       
    .image-wrapper {
        position: relative;
        a {
            text-decoration: none;
            color: $secondary-color;
        }
        img {
            display: block;
            max-width: 100%;
            height: auto;
        }
        p {
            font-size: 14px;
            position: absolute;
            top: 80%;
            left: 25%;
            background-color: white;
            width: 50%;
            text-align: center;
            padding: 5px 10px;
            span {
                font-size: 12px;
            }
            
           
        }
        @media (max-width: 1200px) {
            p {
                font-size: 11px;
            }
            p span {
                font-size: 10px;
            }
        }
        @media (max-width: 767px) {
            img {
                padding-bottom: 60px;
            }
            p  {
                top: 83%;
                
            }
        }
        @media (max-width: 630px) {
            p {
                top: 80%;
               // left: 30%;
            }
        }
        @media (max-width: 500px) {
            p {
                top: 73%;
                left: 26%;
            }
        }
    }
   .pager{
       margin-top: 30px;
       margin-bottom: 0px;
    }
    
}

@media (max-width: 991px) {
.main-container {
    padding: 60px 50px;
    }}

.img-width{
   display: block;
    height: auto;
    width: 100%;
}

.text-center{
    text-align: center;
}
.pager li>a, .pager li>span {
    display: inline-block;
   
    border: none;    
    color: $secondary-color;
}
.pager li>a:hover {
    text-decoration: none;
    background-color: $primary-color;
}
.pager {
   
    text-align: center;
    list-style: none;
    
    
}

/*------- Contact Us CSS-----*/
.contact-us{
p {
        font-size: 16px;
        span{
           
        font-weight: bold;
        }
    }
}


.recipe-day{
    .image-wrapper p {
        top: 83%;
    }
    h1{
            padding-bottom: 30px;
    margin-top: 0px;

    }
    
}

@media (max-width: 767px){
.recipe-day{
    .image-wrapper p {
        top: 80%;
    }
    }
}

/*---Dinning In CSS---*/
@media (max-width: 991px){
    .dinning-in, .about-me, .post-heading{
        p{ padding-top: 30px;}
    }
    


}
.image-row1{
    padding-top: 30px;
img{
display: block;
    width: 100%;
    height: 390px;
    }
}
    
    .image-row2{
        padding-top: 30px;
         padding-bottom: 30px;
img{
display: block;
    width: 100%;
    height: 390px;
    }
}
  .image-row1,.image-row2 { p{
        font-size: 14px;
    position: absolute;
    top: 92%;
    left: 23%;
    background-color: white;
    width: 50%;
    text-align: center;
    padding: 7px 7px;
      }
    
    }
    
    
    .about-me{
        
        .two-image-width{
            img{ display: block;
    width: 100%;
    height: 195px;
            }
        }
        
      .padding-image{
          padding-bottom: 30px;
          img{
              padding-top: 30px;
              
          }
        }
        
        
}


/*----In the Kitchen CSS----*/

#HiddenText {
    display: none;
}

.image-wrapper:hover #HiddenText {
    display:block;
}




/*----Post CSS---*/
 .main-post{
     .image-row2{
         img{
             height: 833px;
              width: 100%;
         }
         p{
             top:96%;
         }
     }
     .featured-post{
         h1{
             padding-bottom: 30px;
         }
     }

    

.post-recipe{
    padding-top: 50px;
    h1{ 
        margin-top: 0px;
        padding-top: 0px;
        
    }
    
@media (min-width: 767px){
 .col-md-border {
    border-left: 1px solid $secondary-color;
    margin-left: -1px;
}
    .sec-col {
    padding-left: 20px;
}
    }
    @media (max-width: 767px){
        .sec-col {
    padding-top: 30px;
}
    }
}
     .recipe-image{
         padding-top: 30px;
         img{
        padding-bottom: 30px;
        padding-top: 30px;
        height: 624px;
             width: 100%;
        display: block;
    }
     }
     
}
    
    













