@font-face {
  font-family: "Century Gothic";
  src: url("../font/Century Gothic.ttf"); }
@font-face {
  font-family: "berkley";
  src: url("../font/ARBERKLEY.ttf"); }
body {
  font-family: Century Gothic;
  color: #594F51; }

.pad-left-0 {
  padding-left: 0px; }

.pad-top-60 {
  padding-top: 60px; }

.pad-top-30 {
  padding-top: 30px; }

.pad-bottom-30 {
  padding-bottom: 30px; }

.pad-top-20 {
  padding-top: 20px; }

@media (max-width: 991px) {
  .pad-top-sm-60 {
    padding-top: 60px; }

  .pad-top-sm-30 {
    padding-top: 30px; } }
@media (max-width: 767px) {
  .pad-bottom-xs-60 {
    padding-bottom: 60px; } }
#page-header {
  height: 460px;
  background-image: url(../image/img1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
    /*.container {
    width: 600px;
}*/
  /*testing css*/ }
  #page-header .navbar .navbar-nav {
    display: inline-block;
    float: none; }
  #page-header.contact {
    background-image: url(../image/img27.jpg); }
  #page-header.kitchen {
    background-image: url(../image/img26.jpg); }
  #page-header.legal {
    background-image: url(../image/img22.jpg); }
  #page-header.dinning {
    background-image: url(../image/img8.jpg); }
  #page-header.post {
    background-image: url(../image/img28.jpg); }
  #page-header .navbar-default {
    background-color: #FEF1FB;
    border-color: #FEF1FB;
    font-size: 16px; }
  #page-header .nav > li > a > img {
    /* max-width: none; */
    height: 90px;
    width: 90px; }
  #page-header .navbar .navbar-collapse {
    text-align: center;
    padding-top: 7px;
    padding-bottom: 25px; }
  @media (max-width: 991px) {
    #page-header .navbar-default .navbar-nav > li > a {
      font-size: 13px; } }
  @media (max-width: 767px) {
    #page-header .navbar-brand img {
      height: 40px;
      width: 40px; }
    #page-header .navbar-default .navbar-brand,
    #page-header .navbar-collapse {
      padding-top: 7px;
      border: none; } }
  #page-header a.hover, #page-header a.active .triangle {
    content: '';
    position: absolute;
    top: -6px;
    left: calc(40% - 1.0px);
    content: " ";
    border-top: 13px solid #fc7790;
    border-left: 13px solid transparent;
    border-right: 13px solid transparent; }
  #page-header a.hover, #page-header a.active .t1 {
    content: '';
    position: absolute;
    top: -15px;
    left: calc(50% - 12px);
    content: " ";
    border-top: 11px solid #FEF1FB;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent; }

input {
  outline: none; }

input[type=text] {
  -webkit-box-sizing: content-box; }

input[type=text] {
  background: #FEF1FB url(http://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 7px center;
  border: solid 1px #FEF1FB;
  padding: 9px 10px 9px 32px;
  width: 70px;
  /*border-radius: 25px;*/
  -webkit-border-radius: 10em;
  -moz-border-radius: 10em;
  border-radius: 10em; }

input[type=text]:focus {
  width: 100px;
  background-color: #fff; }

.logo-image img {
  height: 85px;
  width: 85px; }

.main-nav {
  /*padding-top: 30px;
      padding-bottom: 30px;*/ }

.page-title {
  background-color: #4E4E4E;
  margin-top: 237px;
  padding: 15px 0px;
  opacity: 0.85;
  filter: alpha(opacity=50);
  color: white;
  font-family: berkley;
  font-size: 38px;
  text-align: center; }
  .page-title .form-control {
    border: 1px solid white; }
  .page-title .btn-default {
    background-color: #fff;
    border-color: white; }
  .page-title h6 {
    font-size: 21px;
    margin: 0px; }

.dinning #second-title, .post #second-title {
  padding: 4px 0px; }

@media (max-width: 991px) {
  #page-header {
    height: 300px;
    width: 100%; } }
@media (max-width: 767px) {
  #page-header {
    height: 200px;
    width: 100%; } }
/*------ footer CSS ------*/
.line {
  margin-bottom: 60px;
  border-color: #594F51;
  opacity: 0.2; }

.footer {
  text-align: center;
  font-family: "Century Gothic"; }
  .footer div {
    margin-bottom: 30px; }
  .footer .social-icons img {
    height: 30px;
    width: 30px;
    margin: 0px 10px; }
  .footer .menu-icons a {
    text-decoration: none;
    margin: 0px 10px;
    color: #594F51;
    font-size: 14px; }
  .footer .copyright h6 {
    font-size: 10px; }

/* Main-Container CSS*/
.main-container {
  padding: 60px 0px; }
  .main-container h1 {
    font-size: 20px;
    font-weight: bold; }
  .main-container .latest-blog {
    padding-top: 30px; }
  .main-container .image-wrapper {
    position: relative; }
    .main-container .image-wrapper a {
      text-decoration: none;
      color: #594F51; }
    .main-container .image-wrapper img {
      display: block;
      max-width: 100%;
      height: auto; }
    .main-container .image-wrapper p {
      font-size: 14px;
      position: absolute;
      top: 80%;
      left: 25%;
      background-color: white;
      width: 50%;
      text-align: center;
      padding: 5px 10px; }
      .main-container .image-wrapper p span {
        font-size: 12px; }
    @media (max-width: 1200px) {
      .main-container .image-wrapper p {
        font-size: 11px; }
      .main-container .image-wrapper p span {
        font-size: 10px; } }
    @media (max-width: 767px) {
      .main-container .image-wrapper img {
        padding-bottom: 60px; }
      .main-container .image-wrapper p {
        top: 83%; } }
    @media (max-width: 630px) {
      .main-container .image-wrapper p {
        top: 80%; } }
    @media (max-width: 500px) {
      .main-container .image-wrapper p {
        top: 73%;
        left: 26%; } }
  .main-container .pager {
    margin-top: 30px;
    margin-bottom: 0px; }

@media (max-width: 991px) {
  .main-container {
    padding: 60px 50px; } }
.img-width {
  display: block;
  height: auto;
  width: 100%; }

.text-center {
  text-align: center; }

.pager li > a, .pager li > span {
  display: inline-block;
  border: none;
  color: #594F51; }

.pager li > a:hover {
  text-decoration: none;
  background-color: #FEF1FB; }

.pager {
  text-align: center;
  list-style: none; }

/*------- Contact Us CSS-----*/
.contact-us p {
  font-size: 16px; }
  .contact-us p span {
    font-weight: bold; }

.recipe-day .image-wrapper p {
  top: 83%; }
.recipe-day h1 {
  padding-bottom: 30px;
  margin-top: 0px; }

@media (max-width: 767px) {
  .recipe-day .image-wrapper p {
    top: 80%; } }
/*---Dinning In CSS---*/
@media (max-width: 991px) {
  .dinning-in p, .about-me p, .post-heading p {
    padding-top: 30px; } }
.image-row1 {
  padding-top: 30px; }
  .image-row1 img {
    display: block;
    width: 100%;
    height: 390px; }

.image-row2 {
  padding-top: 30px;
  padding-bottom: 30px; }
  .image-row2 img {
    display: block;
    width: 100%;
    height: 390px; }

.image-row1 p, .image-row2 p {
  font-size: 14px;
  position: absolute;
  top: 92%;
  left: 23%;
  background-color: white;
  width: 50%;
  text-align: center;
  padding: 7px 7px; }

.about-me .two-image-width img {
  display: block;
  width: 100%;
  height: 195px; }
.about-me .padding-image {
  padding-bottom: 30px; }
  .about-me .padding-image img {
    padding-top: 30px; }

/*----In the Kitchen CSS----*/
#HiddenText {
  display: none; }

.image-wrapper:hover #HiddenText {
  display: block; }

/*----Post CSS---*/
.main-post .image-row2 img {
  height: 833px;
  width: 100%; }
.main-post .image-row2 p {
  top: 96%; }
.main-post .featured-post h1 {
  padding-bottom: 30px; }
.main-post .post-recipe {
  padding-top: 50px; }
  .main-post .post-recipe h1 {
    margin-top: 0px;
    padding-top: 0px; }
  @media (min-width: 767px) {
    .main-post .post-recipe .col-md-border {
      border-left: 1px solid #594F51;
      margin-left: -1px; }
    .main-post .post-recipe .sec-col {
      padding-left: 20px; } }
  @media (max-width: 767px) {
    .main-post .post-recipe .sec-col {
      padding-top: 30px; } }
.main-post .recipe-image {
  padding-top: 30px; }
  .main-post .recipe-image img {
    padding-bottom: 30px;
    padding-top: 30px;
    height: 624px;
    width: 100%;
    display: block; }

/*# sourceMappingURL=style.css.map */
